/build/
.DS_Store
node_modules
/.vscode
/.vscode/settings.json
/.idea/*
!/.idea/dictionaries/
/secret_mnemonic
/.0x-artifacts/
/coverage/
/coverage.json
/webtools/openeth-webtools.pack.js
/.eslintcache
/src/common/interfaces/
/ganache.pid
/dist/
cache
/src/cli/compiled/
/RelayClient.ts
/RelayEvents.ts
/RelayProvider.ts
/Configurator.ts
/TestEnvironment.ts
/Utils.ts
artifacts
/yarn-error.log
/jsrelay/data/
/jsrelay/dist/relayserver.js
/json-input.json
docker/db/
docker/logs/
docker/src/
.vscode/
dockers/
tsconfig.
yarn.lock
migrations
contract-addresses.json
typechain-types